In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
source = create_engine("mysql+mysqlconnector://test:test123@172.18.0.2/test")

In [4]:
pd.read_sql('select now()', con=source)

                now()
0 2021-10-31 00:32:19

In [5]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.9/site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in /opt/conda/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)